.tab-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: var(--tab-bar-height);
  padding: 26px 64px 0;
  border-radius: var(--radius-default) var(--radius-default) 0 0;
  background: var(--color-primary);
}

.tab-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
